body {
    padding: 0;
    text-align: center;
}
  
  .background-image {
      background-image: url(../images/background.jpg);
      background-size: cover;
      width: 100%;
      height: 900px;
  }
  
  .game-intro {
    float: left;
    padding-left: 10%;
    padding-right: 135px;
    width: 485px;
  }
  
  h1 {
    font-size: 80px;
    padding-top: 15%;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
  }

  .instructions {
    border: black solid;
    border-radius: 20%;
    font-size: 25px;
    padding: 5%;
    color: black;
    background-color: white;
    text-align: left;
    line-height: 50px;
  }
  

  #one-player-button,
  #two-players-button {
    font-size: 30px;
    background-color:#870007;
    color: white;
    padding: 20px 40px;
    border: solid 3px white;
    border-radius: 25px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .one-player button {
    float: left;
    margin-top: 15%;
  }

  .two-players button {
    margin-top: 20px;
    margin-right: 40%;
    float: left  
  }

  #one-player-canvas {
      margin-top: 5px;
      margin-left: 60%;
      padding-right: 0px;
      position: absolute;
  }

  #two-player-canvas{
    margin-top: 5px;
    margin-left: 3%;
    padding-right: 0px;
    position: absolute;
    float: right;
  }


  footer{
    color: white;
    margin-top: 43%;
    margin-left: 85%;
    margin-bottom: 0;
  }
  