body {
    padding: 0;
    text-align: center;

  }
  
  .background-image {
      background-image: url(../images/90582921d8ae228.jpg);
      background-size: cover;
      width: 100%;
      height: 900px;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
    width: 500px;
  }
  
  h1 {
    font-size: 70px;
    color: goldenrod;
    padding-top: 15%;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
  }

  .instructions {
    border: black solid;
    border-radius: 20%;
    font-size: 25px;
    padding: 5%;
    color: black;
    background-color: white;
    text-align: left;
    line-height: 50px;
  }
  

  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: right;
      margin-top: 40px;
      margin-right: 50px;
      padding-right: 0px;
  }

  .left {
    border-top: red 50px;
  }
  /*#canvas {
    background-image: url(../images/bball-court2.svg);
  }*/
